.css-ahj2mt-MuiTypography-root {
    font-family: 'HYWenHei' !important;
    line-height: 2vw !important;
    letter-spacing: 0.05vw !important;
}

.css-1kc9wdt-MuiPaper-root-MuiAccordion-root {
    box-shadow: none !important;
    border-top: 0.1vw solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.5);
}

.css-1kc9wdt-MuiPaper-root-MuiAccordion-root {
    border-radius: 0 !important;
}