.cart {
    margin-top: 10vh;
    width: 55%;
    background-color: red;
    padding: 10%;
    padding-right: 5%;
}

.cart-content {
    display: flex;
    width: 100%;
    background-color: green;
}

.cart-l {
    width: 60%;
    background-color: aquamarine;
}

.cart-r {
    width: 40%;
    background-color: bisque;
}

.product {
    padding-bottom: 1vw;
    border-bottom: 0.1vw solid #2b2a29;
}

.products {
    padding: 1.5vw 0vw;
    background-color: pink;
    border-bottom: 0.1vw solid #2b2a29;
    display: flex;
}

.products-img {
    display: flex;
    background-color: yellowgreen;
    width: 25%;
}

.products-img img {
    width: 100%;
}

.products-name {
    background-color: orange;
    width: 75%;
}

.products-name p {
    padding-left: 7%;
}