@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.cart {
    margin-top: 10vh;
    width: 55%;
    padding: 10%;
    padding-right: 5%;
}

.cart-header h1 {
    font-size: 4vw;
}

.cart-header {
    padding-bottom: 5%;
}

.cart-table-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 1%;
    border-bottom: 0.1vw solid #2b2a29;
}

.cart-table-header p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1vw;
    font-weight: 400;
}

.products-wrapper {
    padding: 4% 0%;
    display: grid;
    grid-template-columns: 0.55fr 1.45fr 1fr;
    border-bottom: 0.1vw solid #2b2a29;
}

.cart-img img {
    display: flex;
    width: 100%;
}

.cart-name {
    padding-left: 7%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.cart-name p {
    font-family: "Roboto", sans-serif;
    width: 80%;
    font-size: 1vw;
    font-weight: 500;
}

.cart-price {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.cart-price p {
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    font-weight: 400;
}

.MuiNativeSelect-select {
    font-weight: 500 !important;
    font-size: 1vw !important;
}

option {
    font-family: "Roboto", sans-serif;
}