.checkout-main * {
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    font-weight: 400;
}

.checkout-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.checkout-l {
    width: 60%;
    height: 100%;
    background-color: white;
}

.checkout-r {
    width: 40%;
    height: 100%;
    background-color: #2b2a29;
    padding: 7.25vh;
}

.checkout-l-wrapper {
    height: 100%;
    padding: 7.25vh;
}

.checkout-l-content {
    width: 65%;
    height: 83.5vh;
    float: right;
    display: flex;
    flex-flow: column;
    row-gap: 3vh;
    padding-right: 5%;
    padding: 1vh;
}

.checkout-l-content div p {
    text-align: center;
}

.checkout-l-content img {
    width: 23%;
}

.checkout-main .MuiToggleButtonGroup-grouped {
    border-radius: 0.3vw !important;
}

.shoppay:hover {
    background-color: #3c0def !important;
}

.paypal:hover {
    background-color: #f2ba36 !important;
}

.gpay:hover {
    background-color: #000000 !important;
}

.expresscheckout {
    display: flex;
    justify-content: center;
}

.line {
    width: 100%;
    height: 0.05vw;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2% 0%;
    position: relative;
}

.checkout-r-content {
    width: 65%;
    padding-left: 5%;
    height: 83.5vh;
    padding: 1vh;
    display: flex;
    flex-flow: column;
    row-gap: 2vh;
    overflow: auto;
}

.checkout-r-product {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 1vw;
}

.checkout-r-product img {
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5vw;
}

.checkout-r-product div {
    display: flex;
    flex-flow: column;
    justify-content: center;
}