.header-photo{
    background-size: cover;
    width: 100vw;
    height: 20vw;
    margin-top: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #282622;
}

.header-photo .text {
    width: 47%;
    word-wrap: break-word;
}

.header-photo .text h2 {
    font-size: 5vw;
    font-weight: 100;
    color: white;
    text-align: right;
    z-index: 1;
    position: relative;
}

.NotFound {
    width: 100%;
    transform: scale(1.25) translateY(5%);
}

.shapeframe {
    background-size: contain;
    position: absolute;
    bottom: 0;
    background-image: url("/public/images/ShapeFrame.png");
}

@keyframes showup {
    from {
        top: -30%;
        opacity: 0;
    }
    to {
        top: 0%;
        opacity: 1;
    }
}