.header-photo{
    background-image: url("/public/images/HeaderPhoto.jpg");
    background-position: 0vw -12vw;
    background-size: cover;
    width: 100vw;
    height: 20vw;
    margin-top: 10vh;
    position: relative;
    display: flex;
    align-items: center;
}

.header-photo h1{
    color: #fff;
    font-size: 5vw;
    padding-left: 7vw;
}

.header-photo h1:hover{
    cursor: context-menu;
}