.header-photo{
    background-size: cover;
    width: 100vw;
    height: 20vw;
    margin-top: 10vh;
    position: relative;
    display: flex;
    align-items: center;
}

.collectibles{
    background-image: url("/public/images/HeaderPhotoCollectibles.png");
    /* background-position: 0vw -9.5vw; */
    background-position: 0vw 0vw;
}

.apparel{
    background-image: url("/public/images/HeaderPhotoApparel.png");
    background-position: 0vw 0vw;
}

.accessories{
    background-image: url("/public/images/HeaderPhotoAccessories.png");
    background-position: 0vw 0vw;
}

.sale{
    background-image: url("/public/images/HeaderPhotoSale.png");
    /* background-position: 0vw -12vw; */
}

.header-photo h1{
    color: #fff;
    font-size: 5vw;
    padding-left: 14vw;
}

.header-photo h1:hover{
    cursor: context-menu;
}

.shapeframe {
    background-size: contain;
    position: absolute;
    bottom: 0;
    background-image: url("/public/images/ShapeFrame.png");
}