.popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.close {
    background-color: white;
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    right: 5%;
    top: 10%;
    cursor: pointer;
    transition: 0.1s linear;
}

.close:active {
    transform: translateY(10%);
}

.close p {
    transform: translateY(8%);
}

.frame-circle {
    position: relative;
    z-index: 2;
    width: fit-content;
    height: fit-content;
    background-image: url("/public/images/frame-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0.8);
}

.frame-circle-in {
    width: 46vw;
    height: 46vw;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.86);
    background-color: rgb(255, 255, 255);
    border: 0.5vw solid #8d7655;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 3vw;
    justify-content: center;
}

.signin-h1 {
    display: flex;
    color: #111111;
    justify-content: center;
    text-align: center;
}

.singin-input-container {
    display: flex;
    flex-flow: column;
    row-gap: 1vw;
    width: 50%;
    align-items: center;
}

.signin-input-wrapper {
    border-radius: 3vw;
    padding: 4% 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signin-input {
    font-size: 1.15vw;
    border: none;
    background-color: transparent;
}

/* .signin-input .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root,
.signin-input .css-o943dk-MuiFormLabel-root-MuiInputLabel-root,
.signin-input .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root{
    font-family: 'HYWenHei';
    padding: 0vw 2.5vw 0vw 1vw;
    font-size: 120%;
}

.signin-input .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before,
.signin-input .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disable):before,
.signin-input .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after{
    border: 0px;
}

.signin-input .css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: rgb(96 96 96);
}

.signin-input .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root{
    border-radius: 2.2vw;
    border: 0.2vw solid rgba(17, 17, 17, 0);
    transition: 0.2s linear;
}

.signin-input .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root.Mui-focused{
    border: 0.2vw solid #111;
}

.signin-input .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
    padding-top: 0.5vh;
} */

.eye {
    color: #111;
    font-size: 2vw;
    cursor: pointer;
    transform: translateY(8%);
    background-color: transparent;
    border: none;
    transition: 0.1s linear;
    position: absolute;
    right: 27%;
}

.eye:active {
    transform: translateY(14%);
}

.password {
    width: 100%;
}

.signin-input:focus {
    outline: none;
}

.login {
    width: 6vw;
    height: 6vw;
    border-radius: 2vw;
    background-color: #ffffff;
    border: 0.2vw solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    transform: translateY(8%);
    color: #e8e8e8;
}

.createac {
    font-size: 1.1vw;
    color: #666666;
    transition: 0.2s linear;
}

.createac:hover{
    cursor: pointer;
    user-select: none;
    color: #111;
}

.fade {
    position: fixed;
    background-color: black;
    width: 200vw;
    height: 200vh;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 0.9;
    transform: translate(-50%, -50%);
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.create-email-h1, .create-username-h1, .create-password-h1{
    display: none;
    color: #111111;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    align-items: center;
}

.textfield-email, .textfield-username, .textfield-password{
    display: none;
    flex-flow: column;
    width: 50%;
    align-items: center;
}

.signin-createac{
    transform: scale(0.9);
}

.already-ac{
    display: none;
    font-size: 1.1vw;
    color: #666666;
    transition: 0.2s linear;
    margin-top: 1.5vw;
}

.already-ac:hover{
    cursor: pointer;
    user-select: none;
    color: #111;
}

.create-email, .create-username, .create-password{
    display: none;
    width: 6vw;
    height: 6vw;
    border-radius: 2vw;
    background-color: #ffffff;
    border: 0.2vw solid #e8e8e8;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    transform: translateY(8%);
    color: #e8e8e8;
}

.username-detail, .password-detail{
    display: none;
    color: #7a7a7a;
    font-size: 1.5vw;
}

.textfield-password{
    row-gap: 1vw;
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}