.product-frame {
  display: grid;
  justify-content: center;
  background-color: #e7e6e3;
  padding-top: 1.5vw;
  padding-bottom: 4vw;
  row-gap: 3vw;
}

.product-details {
  width: 100vw;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-details .image-gallery {
  width: 72vw !important;
  min-height: 83vh;
  z-index: 9;
  display: grid;
  position: sticky;
  top: 17vh;
}

.product-details .image-gallery-slides {
  border-radius: 0.75vw;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.product-details .image-gallery-thumbnails-container {
  display: flex;
  flex-flow: wrap;
  row-gap: 0;
  grid-template-columns: auto !important;
  gap: 0;
}

.product-details .image-gallery-content {
  display: grid !important;
  grid-template-columns: auto auto;
  justify-content: space-around;
  height: 100% !important;
}

.product-details .image-gallery-thumbnail {
  width: 95%;
}

.product-details .image-gallery-thumbnails {
  height: 100% !important;
  overflow: auto;
}

.product-details .image-gallery-thumbnails-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 7vw;
  height: 100%;
}

.product-details .image-gallery-slide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  width: 50vw;
}

.details {

  display: flex;
  justify-content: center;
  width: 28vw;
  height: fit-content;
  min-height: 83vh;
  flex-direction: column;
}

.details-wrapper {
  width: 22vw;
  background-color: #252423;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 2.25vw;
  justify-content: center;
  line-height: 2vw;
  padding: 3vw;
}

.shape {
    background-size: contain;
    height: 1.75vw;
    width: 100%;
    background-repeat: no-repeat;
}

.shapebottom {
    background-position: top;
    background-image: url("/public/images/ShapeBottom.png");
}

.shapetop {
    background-position: right;
    background-image: url("/public/images/ShapeTop.png");
}

::-webkit-scrollbar {
  width: 0.7vw;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #393736;
}

.product-details .image-gallery-thumbnail.active, .product-details .image-gallery-thumbnail:hover, .product-details .image-gallery-thumbnail:hover::before {
    border: 0.25vw solid #252423;
    cursor: pointer;
}

.addtocart {
    font-size: 1.25vw;
    background-color: #cc3a36;
    color: #ffffff;
    border: none;
    width: 100%;
    height: 3.6vw;
    padding: 1vw 0vw;
    border-radius: 2vw;
    transition: 0.2s linear;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.addtocart:hover{
    cursor: pointer;
}

.addtocart:hover .addtocart-bg {
    transform: rotate(-6deg) scale(120) translateY(0vw);
}

.addtocart-txt {
    position: relative;
    z-index: 9;
    margin: auto;
}

.addtocart-bg {
    width: 100%;
    height: 2vw;
    background-color: #9e2c29;;
    transform: rotate(-6deg) scale(120) translateY(0.1vw);
    transition: 0.5s;
}

.details-description {
    display: grid;
    row-gap: 2vw;
    font-size: 1vw;
}

.details-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.details-name {
    font-size: 1.6vw;
    font-weight: bold;
    width: 90%;
    line-height: 3vw;
}

.details-price {
    font-size: 1.25vw;
    margin-top: 0.5vw;
    width: 10%;
    text-align: right;
}

