/* .path{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #adacaa; 
}
.path-wrapper {

}
.path-section {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
.d-flex{
    display:flex;
}
.cursor-context-menu{
    cursor: "context-menu";
}

.color-a{
    color: #adacaa;
} */

.path-wrapper {
    position: relative;
    width: 100vw;
    height: 7vh;
    background-color: #292929;
    top: 10vh;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.path-content {
    display: flex;
    gap: 1vw;
}

.path {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #adacaa;
    font-size: 0.9vw;
    transition: 0.1s linear;
}

.path:hover {
    opacity: 0.8;
    transform: translateY(10%);
}