.path-wrapper {
    position: relative;
    width: 100vw;
    height: 7vh;
    background-color: #292929;
    top: 10vh;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.path-content {
    display: flex;
    gap: 1vw;
}

.path-sep {
    color: #adacaa;
    font-size: 1vw;
}

.path {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #adacaa;
    font-size: 0.9vw;
    display: flex;
    gap: 0.25vw;
    transition: 0.1s linear;
    align-items: center;
}

.path-content:hover .path {
    opacity: 0.8;
    transform: translateY(10%);
}