.path{
    margin-right: 0.5vw;
    color: #adacaa; 
    display: flex;
    padding: 0vw 0.5vw;
}
.path-wrapper {
    padding-left: 5vw;
    position: relative;
    width: 100vw;
    height: 7vh;
    background-color: #292929;
    top: 10vh;
    color: #adacaa;
    display: flex;
    align-items: center;
}
.path-section {
    padding: 0vw 0.25vw;
  }
.d-flex{
    display:flex;
}
.cursor-context-menu{
    cursor: "context-menu";
}

.color-a{
    color: #adacaa;
}