@font-face {
  font-family: 'HYWenHei';
  src: url("./components/font/zh-cn.ttf");
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'HYWenHei';
  letter-spacing: 0.05vw;
}

h1 {
  font-weight: 100;
  font-size: 2.75vw;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-area {
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: #111111;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  position: fixed;
  z-index: 10;
}

#logo {
  width: 6vw;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 1vw;
  gap: 5vw;
}

.tab-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.action-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1vw;
  align-items: center;
}

.menu-items {
  padding: 0vw 1vw;
  display: flex;
  align-items: center;
  height: 10vh;
  transition: 0.1s linear;
  cursor: pointer;
}

.menu-items:hover {
  transform: translateY(5%);
}

.tabs {
  display: flex;
  align-items: center;
}

.dropdown {
  width: 100vw;
  height: fit-content;
  padding: 4vw 0vw;
  background-color: #292929;
  position: absolute;
  top: 10vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.usertab {
  position: relative;
}

.usertab-dropdown {
  width: 100%;
  min-width: 10vw;
  height: fit-content;
  background-color: #111111;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.usertab-dropdown:hover {
  background-color: #333333;
}

.logout {
  color: white;
  padding: 1vw 0vw;
}

#search-wrapper {
  background-color: #2b2a29;
  height: 2vw;
  border-radius: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 80%;
  font-size: 1vw;
  color: #ffffff;
  background-color: #2b2a29;
  border: none;
}

#search::placeholder {
  color: #ffffff;
}

#search:focus {
  outline: none;
}

.expends {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
}

.expends_item {
  display: flex;
  flex-direction: column;
}

.expends_item a {
  padding-bottom: 1vw;
  transition: 0.1s linear;
  width: fit-content;
}

.expends_item a:hover,
.var:hover {
  opacity: 0.5;
}

.expends_item_img {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.75vw;
  line-height: 1.5vw;
  width: fit-content;
  color: #ffffff;
  transition: 0.1s linear;
}

.expends_item_img:hover {
  transform: translateY(2.5%);
}

.expends_item_img img {
  width: 15vw;
}

.home .image-gallery-slide .image-gallery-image {
  position: relative;
  margin-top: 10vh;
  object-fit: cover !important;
  max-width: 100% !important;
  max-height: 90vh !important;
  object-position: top;
}

.home .image-gallery-left-nav,
.home .image-gallery-right-nav {
  margin-top: 10vh;
}

.ads-wrapper {
  background-color: #e7e6e3;
  padding: 6vw 0vw;
}

.ads {
  width: 70% !important;
  margin: auto;
}

.ads .image-gallery-slide .image-gallery-image {
  position: relative;
  margin-top: 0vh;
  object-fit: cover !important;
  max-width: 100% !important;
  max-height: 90vh !important;
  object-position: top;
}

.ads .image-gallery-left-nav,
.ads .image-gallery-right-nav {
  margin-top: 0vh;
}

.search-content-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: fit-content;
  overflow: auto;
  background-color: #292929;
  padding: 2vw 0vw;
}

.search-content-wrapper p {
  color: white;
  opacity: 1;
}

.search-content {
  display: flex;
  width: 80%;
  flex-flow: wrap;
  column-gap: 1.5vw;
  justify-content: center;
}

.var {
  position: absolute;
  bottom: 5vw;
  text-decoration: underline;
  transition: 0.1s linear;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.notfound {
  width: 100%;
  height: 100vh;
  background-color: #393b40;
  border: 3vw double orange;
  border-image: url("../public/images/download.png") 38 round;
  box-sizing: border-box;
}

.notfound-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.75vw;
  line-height: 2vw;
  animation: fade 1s;
}

.notfound p, .notfound a {
  font-family: "Helvetica";
}

.notfound a {
  opacity: 0.8;
}

.notfound a:hover {
  opacity: 1;
}

#error-title {
  color: white;
  font-size: 1.75vw;
}

#error-back {
  color: white;
  font-size: 1.5vw;
}

#error-content {
  color: #8c93a3;
  text-align: center;
  font-size: 1.25vw;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showup {
  from {
      top: -30%;
      opacity: 0;
  }
  to {
      top: 0%;
      opacity: 1;
  }
}