@font-face {
  font-family: 'HYWenHei';
  src: url("./components/font/zh-cn.ttf");
}

* {
  margin: 0;
  font-family: 'HYWenHei';
  letter-spacing: 1px;
  line-height: 1.5vw;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-area {
  width: 100vw;
  height: 10vh;
  background-color: #111111;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  position: fixed;
  z-index: 1000;
}

#logo {
  width: 6vw;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 1vw;
  gap: 5vw;
}

.tab-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.action-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1vw;
  align-items: center;
}

.menu-items {
  padding: 0vw 1vw;
  display: flex;
  align-items: center;
  height: 10vh;
}

.tabs {
  display: flex;
  align-items: center;
}

.dropdown {
  width: 100vw;
  height: fit-content;
  padding: 2.5vw 0vw;
  background-color: #292929;
  position: absolute;
  top: 10vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-wrapper {
  background-color: #2b2a29;
  height: 2vw;
  border-radius: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 80%;
  font-size: 1vw;
  color: #ffffff;
  background-color: #2b2a29;
  border: none;
}

#search::placeholder {
  color: #ffffff;
}

#search:focus {
  outline: none;
}

.expends {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 80%;
}

.expends_item {
  display: flex;
  flex-direction: column;
}

.expends_item a {
  padding-bottom: 1vw;
}

.expends_item_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  row-gap: 0.5vw;
  width: 32vw;
  color: #ffffff;
}

.expends_item_img img {
  width: 15vw;
}

.image-gallery-slide .image-gallery-image {
  position: relative;
  margin-top: 10vh;
  object-fit: cover !important;
  max-width: 100% !important;
  max-height: 90vh !important;
  object-position: top;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  margin-top: 10vh;
}